/* CSS for _EmailThread view */
.email-thread-message {
    border-bottom: 1px solid black;

    .email-thread-message-header {
        p {
            padding: 5px;
            margin-bottom: 5px;
            border-bottom: 1px solid black;
        }
    }

    .email-thread-message-body {
        padding: 25px;

        p {
            white-space: pre-line;
        }
    }
}